.bodybg{
	-fx-background-image: url("file:src/main/resources/clouds.jpg");
	-fx-background-size: cover;
	-fx-background-position: center center;
}

.bodybg2{
	-fx-background-image: url("file:src/main/resources/2dcloud.jpg");
	-fx-background-size: cover;
	-fx-background-position: center center;
}